*.log
*.tmp

# ==========================================
# KiCad (Hardware)
# ==========================================
# Ignore backup files created by KiCad
*.bak
*-bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*-backups/

# Ignore local review and manufacturing outputs
*_saved
fp-info-cache
*.net
*.prm

# ==========================================
# Firmware
# ==========================================
.build/
build/
bin/
*.hex
*.elf
*.eep
.aym
.vscode/

# ==========================================
# EPICS IOC Configuration
# ==========================================
bin/
dbd/
include/
lib/
O.*/
.dbd.d
*.o
*.a

# Ignore local configuration edits
envPaths


# ==========================================
# Latex
# ==========================================
# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex
*.synctex.gz
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb

# LaTeX build/output directories
_build/
build/

# Beamer
*.nav
*.snm
*.vrb

# Glossaries / indexes
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.idx
*.ilg
*.ind

# Minted
*.pyg
_minted-*/

# Temporary files
*.bak
*.swp
*.swo
*~